.main {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  > *{padding-left: 30px;};
  background-color: $primary-color;
  ul {
    li {
      font-size: 0.85rem;
    }
    list-style-position: inside;
    list-style-type: circle;
  }
  h1 {
    font-size: 62px;
    -webkit-margin-before: 0;
    padding-top: 40px;
  }
  video {}
  p {
    width: 55%;
    min-width: 550px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }  
}